@font-face {
  font-family: 'opsduty'; /*a name to be used later*/
  src: url('../fonts/opsduty.otf'); /*URL to font*/
}

@font-face {
  font-family: 'expletus'; /*a name to be used later*/
  src: url('../fonts/ExpletusSans-Regular.ttf'); /*URL to font*/
}

@font-face {
  font-family: 'opsone'; /*a name to be used later*/
  src: url('../fonts/BlackOpsOne-Regular.ttf'); /*URL to font*/
}

@font-face {
  font-family: 'wreckers'; /*a name to be used later*/
  src: url('../fonts/Wreckers.ttf'); /*URL to font*/
}

.btn-warning {
    background: rgba(230, 61, 0, 0.6);
}

.form-control{
    background: rgba(230, 61, 0, 0.6);
    margin-bottom: 0.5em;
    color: white;
}

.btn-warning:hover, .btn-warning:active, .btn-warning:focus, .btn-warning>a:visited {
    background: #000000;
}

.navbar{
    color: #ffffff;
    background: rgba(0,0,0,0.75);
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    background: rgba(230, 61, 0, 0.5);
}

.center{
    text-align: center;
}

@media screen and (min-width:768px) {
    .navbar {
        padding: 1px 0;
        -o-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }
    
    .top-nav-collapse {
        padding: 0;
    }
}

@media screen and (max-width:600px){
    body {
        width: 100%;
        height: 100%;
    }
    
    html {
        width: 100%;
        height: 100%;
    }
    
    .btn-intro{
        margin-top: 0.5em;
        display: block;
    }
  
    h1{
        padding: 0;
        margin-top: 10%;
        font-size: 200%;
        color: #e63d00;
        text-shadow: 3px 3px 1px #000000;
        font-family: 'opsone';
        /*background-color:rgba(50,50,50,0.75);*/
    }
    
    h2{
        padding: 0;
        font-size: 175%;
        color: #e63d00;
        text-shadow: 3px 3px 1px #000000;
        font-family: 'wreckers';
        /*background-color:rgba(50,50,50,0.75);*/
    }
    
    h3{
        padding: 0;
        margin: 0 0 12% 0;
        font-size: 150%;
        color: #e63d00;
        text-shadow: 2px 2px 1px #000000;
        font-family: 'wreckers';
        text-align: left;
    }
    
    i{
        margin: 0.5% 0.5% 0.5% 0.5%;
    }
    
    .well{
        background-color:rgba(0,0,0,0);
        border: 0;
    }
    
    .box{
        display: none;
        width: 100%;
    }
    
    .preview{
        display: block;
        margin-top: 0.5em;
    }
    
    .preview:hover + .box,.box:hover{
        display: block;
        position: fixed;
        top: 0;
        left: -30;
        z-index: 10000;
    }
    
    .frame{
        width: 50%;
        height: 50%;
        padding: 0;
        margin: 0;
        border: 0;
        background-color:rgb(255,255,255);
        border-radius: 50px;
    }
    
    .intro-section{
        height: 95%;
        padding-top: 5%;
        text-align: center;
        background: url(../assets/img/intro1600.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    .dossier-section {
        height: 95%; 
        padding-top: 5%;
        text-align: center;
        background: url(../assets/img/about1600crop.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    .victories-section {
        height: 95%;
        padding-top: 5%;
        text-align: center;
        background: url(../assets/img/portfolio1600.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    .contact-section {
        height: 95%;
        padding-top: 5%;
        text-align: center;
        background: url(../assets/img/contact1600.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    .profilepic{
        width: 90%;
        margin: auto;
        display: none;
        position: fixed;
        right: 5%;
        top: 5%;
        z-index: 10000;
        border-radius: 400px;
    }
    
    .profilethumb{
        max-width: 200px;
        margin-top: 0;
        margin-left: 20%;
        margin-right: 20%;
        width: 60%;
        border-radius: 200px;
    }
    
    .thumbhover{
        max-width: 260px;
        margin-top: -10%;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }
    
    .weblead{
        width: 90%;
        margin: auto;
    }
}

@media only screen and (min-width:601px) and (max-width:991px){
    body {
        width: 100%;
        height: 100%;
    }
    
    html {
        width: 100%;
        height: 100%;
    }
    
    .btn-intro{
        margin-top: 0.5em;
        display: block;
    }
  
    h1{
        margin-top: 10%;
        padding: 0;
        font-size: 200%;
        color: #e63d00;
        text-shadow: 3px 3px 1px #000000;
        font-family: 'opsone';
        /*background-color:rgba(50,50,50,0.75);*/
    }
    
    h2{
        padding: 0;
        font-size: 175%;
        color: #e63d00;
        text-shadow: 3px 3px 1px #000000;
        font-family: 'wreckers';
        /*background-color:rgba(50,50,50,0.75);*/
    }
    
    h3{
        padding: 0;
        margin: 0 0 10% 0;
        font-size: 150%;
        color: #e63d00;
        text-shadow: 2px 2px 1px #000000;
        font-family: 'wreckers';
        text-align: left;
    }
    
    i{
        margin: 0.5% 0.5% 0.5% 0.5%;
    }
    
    .well{
        background-color:rgba(0,0,0,0);
        border: 0;
    }
    
    .box{
        display: none;
        width: 100%;
    }
    
    .preview{
        display: block;
        margin-top: 0.5em;
    }
    
    .preview:hover + .box,.box:hover{
        display: block;
        position: fixed;
        top: 0;
        left: -30;
        z-index: 10000;
    }
    
    .frame{
        width: 50%;
        height: 50%;
        padding: 0;
        margin: 0;
        border: 0;
        background-color:rgb(255,255,255);
        border-radius: 50px;
    }
    
    .intro-section{
        height: 100%;
        padding-top: 4%;
        text-align: center;
        background: url(../assets/img/intro1600.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    .dossier-section {
        height: 100%; 
        padding-top: 4%;
        text-align: center;
        background: url(../assets/img/about1600crop.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    .victories-section {
        height: 100%;
        padding-top: 4%;
        text-align: center;
        background: url(../assets/img/portfolio1600.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    .contact-section {
        height: 100%;
        padding-top: 4%;
        text-align: center;
        background: url(../assets/img/contact1600.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    .profilepic{
        width: 60%;
        margin: auto;
        display: none;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 10000;
        border-radius: 400px;
    }
    
    .profilethumb{
        max-width: 100px;
        margin-top: 0;
        margin-left: 10%;
        margin-right: 10%;
        width: 60%;
        border-radius: 200px;
    }
    
    .thumbhover{
        max-width: 150px;
        margin-top: -5%;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }
    
    .weblead{
        width: 75%;
        margin: auto;
    }
}

@media screen and (min-width:992px){
    body {
        width: 100%;
        height: 100%;
    }
    
    html {
        width: 100%;
        height: 100%;
    }
    
    .btn-intro{
        margin-top: 1em;
        display: block;
    }
  
    h1{
        margin-top: 10%;
        font-size: 300%;
        color: #e63d00;
        text-shadow: 4px 4px 2px #000000;
        font-family: 'opsone';
        /*background-color:rgba(50,50,50,0.75);*/
    }
    
    h2{
        font-size: 250%;
        color: #e63d00;
        text-shadow: 4px 4px 2px #000000;
        font-family: 'wreckers';
        /*background-color:rgba(50,50,50,0.75);*/
    }
    
    h3{
        font-size: 200%;
        color: #e63d00;
        text-shadow: 3px 3px 1px #000000;
        font-family: 'wreckers';
        padding: 1px;
        text-align: left;
    }
    
    i{
        margin: 0.5% 0.5% 0.5% 0.5%;
    }
    
    .well{
        background-color:rgba(0,0,0,0);
        border: 0;
    }
    
    .box{
        display: none;
        width: 100%;
    }
    
    .preview{
        display: block;
        margin-top: 0.5em;
    }
    
    .preview:hover + .box,.box:hover{
        display: block;
        position: fixed;
        top: 0;
        left: -30;
        z-index: 10000;
    }
    
    .frame{
        width: 50%;
        height: 50%;
        padding: 0;
        margin: 0;
        border: 0;
        background-color:rgb(255,255,255);
        border-radius: 50px;
    }
    
    .intro-section{
        height: 100%;
        padding-top: 2%;
        text-align: center;
        background: url(../assets/img/intro1600.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    .dossier-section {
        height: 100%; 
        padding-top: 2%;
        text-align: center;
        background: url(../assets/img/about1600.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    .victories-section {
        height: 100%;
        padding-top: 2%;
        text-align: center;
        background: url(../assets/img/portfolio1600.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    .contact-section {
        height: 100%;
        padding-top: 2%;
        text-align: center;
        background: url(../assets/img/contact1600.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    .profilepic{
        width: 50%;
        margin: auto;
        display: none;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 10000;
        border-radius: 400px;
    }
    
    .profilethumb{
        max-width: 150px;
        margin-top: -10%;
        margin-left: 20%;
        margin-right: 20%;
        width: 60%;
        border-radius: 200px;
    }
    
    .thumbhover{
        max-width: 200px;
        margin-top: -20%;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }
    
    .weblead{
        width: 60%;
        margin: auto;
    }
}

.form-control::-webkit-input-placeholder { color: white; }
.form-control:-moz-placeholder { color: white; }
.form-control::-moz-placeholder { color: white; }
.form-control:-ms-input-placeholder { color: white; }

input::-webkit-autofill{
    color: white;
    background: #000000;
}
input:-moz-autofill{ 
    color: white;
    background: #000000;
}
input::-moz-autofill{
    color: white;
    background: #000000;
}
input:-ms-input-autofill{
    color: white;
    background: #000000;
}