doctype html5
html
  head
    title QRFDev
    link(rel='stylesheet', href='styles/index.css')
  body
    header
      h1 QRFDev Frontend Projects
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p FreeCodeCamp Frontend Projects